@import "../../style.scss";

.roughPart {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 10%;
  padding: 2%;
  width: $widthBox;
  background-color: $backgroundBox;
  display: none;
  border: solid 20px;
  border-image: url("/3-sculpture/assets/boxBorder.svg") 40 stretch;
}
.show {
  display: block;
}
