* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100vh;
}

.home {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  margin: 100px;
}

// Color

$backgroundBox: #b0986b;

// Size
$widthBox: 30%;

.controlContainer {
  position: absolute;
}
.partTitle {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  display: none;
}

.loadPart {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/3-sculpture/assets/fondIntro.png");
  z-index: 10000;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  .loader {
    font-size: 50px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
    margin-bottom: 8%;
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow:
        0em -2.6em 0em 0em #ffffff,
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow:
        0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
        1.8em -1.8em 0 0em #ffffff,
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow:
        0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
        2.5em 0em 0 0em #ffffff,
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow:
        0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
        1.75em 1.75em 0 0em #ffffff,
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow:
        0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
        0em 2.5em 0 0em #ffffff,
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow:
        0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
        -1.8em 1.8em 0 0em #ffffff,
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow:
        0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
        -2.6em 0em 0 0em #ffffff,
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow:
        0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
        -1.8em -1.8em 0 0em #ffffff;
    }
  }
}

.show_flex {
  display: flex;
}

.popupContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  left: 10%;
  bottom: 20vh;

  max-width: 1199px;
  min-width: 100px;
  width: auto;

  img {
    top: -20em;
    left: -15em;
    position: absolute;
    width: 35%;
    z-index: 1;
  }
  button {
    margin-top: 20px;
    border: black;
    color: black;
  }
}
.borderPopup {
  border-image: url(/3-sculpture/assets/border.png) 84;
  border-image-outset: 79px;
  border-image-width: 72px;
  border-image-repeat: stretch;
  z-index: 1000;
}
.popupContent {
  background-color: white;
  padding: 53px;
  border-radius: 21px;
  margin-bottom: 2em;
  strong {
    font-weight: 600;
  }
}
.popupContent:last-child {
  margin-bottom: 0em;
}

.show {
  display: block !important;
}

#steps1InRoughPart,
#steps2InRoughPart,
#steps3InRoughPart,
#steps1InDetailsPart,
#steps2InDetailsPart,
#steps3InDetailsPart,
#steps4InDetailsPart,
#steps1InRefiningPart,
#steps2InRefiningPart,
#steps3InRefiningPart,
#steps4InRefiningPart,
#steps5InRefiningPart,
#steps1InPolishingPart,
#steps2InPolishingPart,
#steps3InPolishingPart,
#steps4InPolishingPart,
#steps5InPolishingPart,
#steps6InPolishingPart {
  display: none;
}
