.page__game {
  background-image: url("/6-peinture/images/scenery/background.svg");
  background-size: cover;
  .game-chef__speech {
    max-width: 1400px;
  }
}

.game-top {
  position: relative;
  overflow: hidden;

  .composition {
    flex: 1;
  }
}
.game-top {
  height: 60vh;
  min-width: 100%;
  display: flex;
}
.game-bottom {
  background: $color-bg;
  border-top: 12px solid $primary;
  position: relative;
  height: 40vh;
  min-width: 100%;
  display: flex;
  z-index: 9;
}

#dialog {
  font-size: 60px;
}

.ingredients-container {
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 9;
}

// ENDING
.ending-screen {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  .ending-animation {
    height: 50vh;
  }
}

.has-ending-opened {
  .game-chef {
    display: none;
  }
  .ending-screen {
    display: block;
    z-index: 99;
  }
  .player-video {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    display: none;
    video {
      height: 100%;
      width: 100%;
    }
  }
}

.shepherd-element {
  max-width: 21vw !important;
}

.shepherd-text {
  font-size: 3.5rem !important;
}

.shepherd-button {
  pointer-events: all;
}

@keyframes scintillation {
  0%,
  100% {
    opacity: 1;
    color: black;
  }
  50% {
    opacity: 1;
    color: $food;
  }
}

#recipe-1 .item-stuff {
  //   animation: scintillation 1s infinite;
}

.scintillating-text {
  animation: scintillation 1s infinite;
}

.shepherd-button.btn-small-primary {
  height: 7.5rem !important;
  padding: 2rem 4rem !important;
  background-color: var(--accent) !important;
  color: var(--white) !important;
  text-decoration: none !important;
  display: inline-flex !important;
  gap: 1rem !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 21px !important;
  font-family: Montserrat !important;
  font-weight: 600 !important;
  font-size: 56px !important;
  border: var(--stroke-width) solid var(--accent) !important;
}

.shepherd-button:not(:disabled):hover {
  background: white !important;
  color: black !important;
}
