.page__home {
  background-image: url("/6-peinture/images/scenery/intro-bg.svg");
  background-size: cover;
  main {
    position: relative;
    @include blur-filter;
  }
  .chef-illustration {
    position: absolute;
    bottom: -4%;
    left: 8%;
  }
  .dialog {
    position: relative;
    ul {
      li {
        font-weight: bold;
      }
    }
  }
}
