.page__home {
  background-image: url("/6-peinture/images/scenery/intro-bg.svg");
  background-size: cover;
  main {
    position: relative;
    @include blur-filter;
  }
  .chef-illustration {
    position: absolute;
    bottom: -1vh;
    left: 8%;
  }
  .dialog {
    position: relative;
  }
}
