@font-face {
    font-family: "IconFont";
    src: url('IconFont.woff2?t=1707236477074') format('woff2'),
        url('IconFont.woff?t=1707236477074') format('woff'),
        url('IconFont.ttf?t=1707236477074') format('truetype');
}

.iconfont {
    font-family: "IconFont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.global-icon-ue900-square-back:before { content: "\ee04"; }
.global-icon-ue901-square-cross:before { content: "\ee05"; }
.global-icon-ue902-square-information:before { content: "\ee06"; }
.global-icon-ue903-square-check:before { content: "\ee07"; }
.global-icon-ue904-home:before { content: "\ee01"; }
.global-icon-ue905-sound-off:before { content: "\ee03"; }
.global-icon-ue906-sound-on:before { content: "\ee02"; }


/**
 * Make by Icon Font Exporter
 * https://www.figma.com/community/plugin/1129455674275940478/Icon-Font-Exporter
 */
