/* Icons */
i[class*="i-"] {
  display: inline-flex;
  align-items: center;
}
i[class*="i-"] span {
  font-size: 0;
}

i[class*="i-"]::before {
  display: inline-block;
  font-family: "GlobalIcon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
  vertical-align: middle;
}

i.i-home::before {
  content: "\ee01";
}
i.i-volume-on::before {
  content: "\ee02";
}
i.i-volume-off::before {
  content: "\ee03";
}
i.i-left::before {
  content: "\ee04";
}
i.i-close::before {
  content: "\ee05";
}
i.i-check::before {
  content: "\ee06";
}
i.i-info::before {
  content: "\ee07";
  pointer-events: all;
}
