/* Icons */
i[class*="i-"] {
  display: inline-flex;
  align-items: center;
}
i[class*="i-"] span {
  font-size: 0;
}

i[class*="i-"]::before {
  display: inline-block;
  font-family: "GlobalIcon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
  vertical-align: middle;
}

i.i-info:before {
  content: "\ee10";
}
i.i-check:before {
  content: "\ee09";
}
i.i-close:before {
  content: "\ee08";
}
i.i-left:before {
  content: "\ee04";
}
i.i-volume-off:before {
  content: "\ee03";
}
i.i-volume-on:before {
  content: "\ee02";
}
i.i-home:before {
  content: "\ee01";
}
i.i-help:before {
  content: "\ee11";
}
i.i-right:before {
  content: "\ee05";
}
i.i-up:before {
  content: "\ee06";
}
i.i-down:before {
  content: "\ee07";
}
i.i-arrow-right:before {
  content: "\ee13";
}
i.i-arrow-left:before {
  content: "\ee12";
}
i.i-arrow-up:before {
  content: "\ee14";
}
i.i-arrow-down:before {
  content: "\ee15";
}
