@font-face {
  font-family: musba;
  src: url(/global/fonts/MusBA-Regular.otf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(/global/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(/global/fonts/Montserrat-SemiBold.ttf);
}

:root {
  --black: #242424;
  --white: #ffffff;
  --gray: #a8a8a8;
  /* Override this variable in your custom css */
  --accent: rgb(40, 119, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
.text-h1 {
  font-family: Montserrat-SemiBold;
  font-size: 110px;
  line-height: 136px;
}

h2,
.text-h2 {
  font-family: musba;
  font-size: 75px;
  font-weight: 400;
  line-height: 80px;
}

h3,
.text-h3 {
  font-family: Montserrat-SemiBold;
  font-size: 56px;
}

p,
.text-p-body {
  font-family: Montserrat-Regular;
  font-size: 56px;
  line-height: 72px;
}

.text-p-small {
  font-family: Montserrat-Regular;
  font-size: 46px;
}

.text-p-mini {
  font-family: Montserrat-Regular;
  font-size: 40px;
  line-height: 56px;
}

.text-btn-1 {
  font-family: Montserrat-SemiBold;
  font-size: 56px;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-family: Montserrat-SemiBold;
  font-size: 56px;
}

/* Buttons */

.btn-primary,
.btn-small-primary {
  background-color: var(--accent);
  color: var(--white);
  border: 5px solid var(--accent);
  border-radius: 21px;
}
.btn-primary:disabled,
.btn-small-primary:disabled {
  background-color: var(--gray);
  border-color: var(--gray);
}

.btn-secondary,
.btn-small-secondary {
  background-color: var(--white);
  color: var(--accent);
  border: 5px solid var(--accent);
  border-radius: 21px;
}
.btn-secondary:disabled,
.btn-small-secondary:disabled {
  color: var(--gray);
  border-color: var(--gray);
}

.btn-primary,
.btn-secondary {
  padding: 3rem 5rem;
}
.btn-small-primary,
.btn-small-secondary {
  padding: 2rem 4rem;
}

/* Tabs */
.tab {
  background-color: var(--accent);
  color: var(--white);
  border: 5px solid var(--accent);
  border-radius: 21px 21px 0 0;
  padding: 3rem 5rem;
}

/* Slide points */
.slide-points {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.slide-point {
  width: 3.75rem;
  height: 3.75rem;
  border: 5px solid var(--white);
  border-radius: 100%;
}
.slide-point.visited {
  background-color: var(--gray);
}
.slide-point.active {
  background-color: var(--white);
}

/* Point of interest */
.poi {
  height: 10rem;
  width: 10rem;
  border: 2rem solid var(--gray);
  background: var(--white);
  border-radius: 100%;
}

/* Layout */
.bottom-menu {
  z-index: 20;
  position: fixed;
  left: 4rem;
  bottom: 4rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
