:root {
  font-size: 16px;
  --white: #f5f5f5;
}

@media (min-width: 2000px) {
  :root {
    font-size: 64px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  touch-action: manipulation;
}

body {
  line-height: 120%;
}

p {
  margin-bottom: 1.5rem;
}

/* ----- UI Kit ----- */

.parameter-btn-list {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 1050;
  display: flex;
}
.btn-square {
  width: 112px;
  height: 111px;
  border-radius: 21px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-square + .btn-square {
  margin-left: 24px;
}

.btn-square svg {
  width: 51px;
  height: 51px;
  object-fit: contain;
}

/* TEMP ELEMENTS */
.btn-temp-bottom-right {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1020;
}

.btn-temp-color {
  background-color: var(--white);
  color: black;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.pointer-none {
  pointer-events: none;
}

/* ----- Popins ----- */

.popin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.15s ease-in-out;
}

.popin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.15s ease-in-out;
}

.popin.hidden,
.popin-overlay.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.popin-body {
  width: 30rem;
  color: var(--white);
  box-sizing: border-box;
}

/* ----- Consignes ----- */

.consignes {
  padding: 5rem;
  position: relative;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  pointer-events: none;
}

/* ----- Validation ----- */

.popin-btn {
  transition: opacity 0.15s ease-in-out;
}

#btn-validate {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.popin-btn.hidden {
  opacity: 0;
  visibility: hidden;
}
