@import url(/global/style.css);

:root {
  /* font-size: 16px; */
  --4-white: #f5f5f5;
  --4-dark: #242424;
  --4-percentage: 0%;
}

.bottom-menu {
  z-index: 1050;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  touch-action: manipulation;
}

body {
  line-height: 1.5;
}

p {
  margin-bottom: 2rem;
}

/* ----- UI Kit ----- */

.btn-primary,
.btn-small-primary {
  --accent: var(--4-white);
  --white: var(--4-dark);
}

/* TEMP ELEMENTS */
.btn-temp-bottom-right {
  position: fixed;
  bottom: 8rem;
  right: 8rem;
  z-index: 1020;
}

.btn-temp-color {
  background-color: var(--white);
  color: black;
  font-size: 4rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
}

.pointer-none {
  pointer-events: none;
}

/* ----- Popins ----- */

.popin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 999;
  /* transition: opacity 0.5s ease-in-out; */
}

.popin {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popin.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 3s,
    opacity 3s ease-in-out;
}

#popin-welcome .popin-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#popin-welcome {
  z-index: 1001;
  padding-left: 0;
  transition: opacity 2s ease-in-out;
}
#popin-welcome.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 2s,
    opacity 2s ease-in-out;
}

#popin-consignes .popin-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#popin-consignes .popin-body .popin-btn{
  margin-top: 5rem;
}
#popin-consignes {
  z-index: 1000;
  transition: opacity 2s ease-in-out;
}
#popin-consignes .popin-body {
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 3.5s,
    opacity 3.5s ease-in-out;
}
#popin-consignes.textshow .popin-body {
  opacity: 1;
  visibility: visible;
}
#popin-consignes.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 3.5s,
    opacity 3.5s ease-in-out;
}

.popin.hidden,
.popin-overlay.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    visibility 0s 2s,
    opacity 2s ease-in-out;
}

.popin-body {
  width: 120rem;
  color: var(--white);
  box-sizing: border-box;
}

#popin-end {
  background-color: transparent;
}

#popin-end .popin-body {
  background-color: #000000;
  width: 65%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#popin-end .popin-body h1 {
  margin-bottom: 5rem;
}

.btn-end {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.btn-end .btn-small-primary {
  margin-left: 5rem;
  margin-right: 5rem;
}

#popin-info .popin-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#popin-info .popin-body .popin-btn{
  margin-top: 5rem;
}

.congrats h1 {
  margin-bottom: 5rem;
}

/* ----- Consignes ----- */

.consignes {
  font-size: 46px;
  padding: 9rem;
  width: 3036px;
  position: relative;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  pointer-events: none;
}

/* Ecriteaux */
.legende {
  position: absolute;
  bottom: 264px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.legende-ecriteau {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #c2ab68;
  border-radius: 8px;
  height: 70px;
  padding: 8px 175px;
}
.legende-ecriteau::before,
.legende-ecriteau::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 60px;
  background-color: #c2ab68;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.legende-ecriteau::before {
  left: -30px;
}

.legende-ecriteau::after {
  right: -30px;
}

.legende-ecriteau p {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.35;
}

/* ----- Validation ----- */

.popin-btn {
  transition: opacity 0.15s ease-in-out;
}

#btn-validate {
  position: fixed;
  bottom: 96px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-color: var(--4-white);
  overflow: hidden;
}

#btn-validate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--4-white);
  width: calc(var(--4-percentage) + 5px);
  height: 100%;
  z-index: -1;
}

/* ----- Results page ----- */

.page-results {
  background-color: #000000;
}

.page-results .wrapper {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-results .wrapper-container {
  width: 100%;
  max-width: 3036px;
  height: 100%;
  max-height: 1636px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  padding: 170px 306px;
  background-color: #000000;
  color: var(--white);
}

.page-results .wrapper-container.hidden {
  display: none;
}

.page-results .wrapper-row {
  display: flex;
  flex-direction: row;
  width: calc(100% + 136px);
  margin-left: -68px;
  margin-right: -68px;
}

.page-results .col-demi,
.page-results .col-full {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 68px;
  padding-right: 68px;
}
.page-results .col-demi {
  max-width: 50%;
  flex: 1 0 0;
}

.page-results .col-demi.btn-wrapper {
  align-items: flex-end;
}
