*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: $font-family;
}

body {
    aspect-ratio: 16/9;
    font-size: $font-size;
    height: 100%;
    overflow: hidden;
    width: 100%;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    color: $color-text;
}

a {
    text-decoration: none;
}