*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
    font-size: $font-size;
}

a {
    text-decoration: none;
}