// ICONS
@font-face {
    font-display: block;
    font-family: 'Icon';
    font-style: normal;
    font-weight: 400;
    src: url('../../static/fonts/IconFont.ttf') format("ttf"), url('../../static/fonts/IconFont.woff') format("woff"), url('../../static/fonts/IconFont.woff2') format("woff2");
}

