// ICONS
@font-face {
    font-display: block;
    font-family: 'Icon';
    font-style: normal;
    font-weight: 400;
    src: url('../../static/fonts/IconFont/IconFont.ttf') format("ttf"), url('../../static/fonts/IconFont/IconFont.woff') format("woff"), url('../../static/fonts/IconFont/IconFont.woff2') format("woff2");
}


// TYPO
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../static/fonts/Montserrat/Montserrat-Regular.ttf') format("ttf"), url('../../static/fonts/Montserrat/Montserrat-Regular.woff') format("woff");
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../../static/fonts/Montserrat/Montserrat-Italic.ttf') format("ttf"), url('../../static/fonts/Montserrat/Montserrat-Italic.woff') format("woff");
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url('../../static/fonts/Montserrat/Montserrat-Bold.ttf') format("ttf"), url('../../static/fonts/Montserrat/Montserrat-Bold.woff') format("woff");
}
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    src: url('../../static/fonts/Montserrat/Montserrat-BoldItalic.ttf') format("ttf"), url('../../static/fonts/Montserrat/Montserrat-BoldItalic.woff') format("woff");
}



