// ICONS
@font-face {
    font-display: block;
    font-family: 'Icon';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IconFont.ttf') format("ttf"), url('../fonts/IconFont.woff') format("woff"), url('../fonts/IconFont.woff2') format("woff2");
}

