// Icons
$icons: (
    "home": "\ee01",
    "check": "\ee05",
    "rollback": "\ee04",
    "info": "\ee03",
    "settings": "\ee02"
);

// NAV
$global-btn-padding: 1.875rem;
$nav-position: 9.375rem;

// TYPO
$font-size: 4.375rem;

// NAV