:root {
  --primary: #398384;
}

body {
  background: #efefef;
  padding: 4rem;
}

article {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.btn-row {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.tab-row {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
