@import "../../style.scss";

.roughPart {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 10%;
  padding: 2%;
  width: $widthBox;
  background-color: $backgroundBox;
  display: none;

  .topBorder {
    position: absolute;
    top: 0;
  }
}
.show {
  display: block;
}
