.book {
  pointer-events: none;
  width: 29vw;
  background-image: url("/6-peinture/images/scenery/book-content.svg");
  background-repeat: no-repeat;
  margin-top: -10vh;
  background-size: cover;
  position: relative;
  // &.is-closed {
  //   background-image: url("/6-peinture/images/scenery/book-cover.svg");
  // }
  > img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
  }
  &-content {
    margin: 12rem 8rem 0 11rem;
    h3 {
      text-align: center;
      margin-bottom: 4rem;
    }
    .book-description {
      margin-left: 3rem;
      &.food {
        b {
          color: $food;
        }
      }
      &.animals {
        b {
          color: $animals;
        }
      }
      &.objects {
        b {
          color: $objects;
        }
      }
    }
  }
}
