.game-chef {
  align-items: center;
  display: flex;
  left: 0;
  position: absolute;
  pointer-events: none;
  top: 20%;
  &__speech {
    background: white;
    border-radius: 15px;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    max-width: 1000px;
    z-index: 1;
  }
}
