.recipe {
    background-repeat: no-repeat;
    position: relative;
    width: 26vw;
    img {
        position: absolute;
        margin-top: -7.5vh;
        height: 46vh;
        right: 0;
        width: 28vw;
    }
    hgroup, ul {
        position: relative;
    }
    hgroup {
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-border;
        margin-top: -1vh;
        margin-bottom: 4rem;
        margin-right: 4rem;
    }
    .list-items {
        .item {
            display: flex;
            gap: 0.5vw;
            align-items: center;
            + .item {
                margin-top: 2.5rem;
            }
            &.food {
                @include icon(food);
                &::before {
                    color: $food;
                }
            }
            &.animals {
                @include icon(animals);
                &::before {
                    color: $animals;
                }
            }
            &.objects {
                @include icon(objects);
                &::before {
                    color: $objects;
                }
            }

            &.checked {
                color: grey;
                text-decoration: line-through;
                &::before {
                    content: "";
                    display: block;
                    background-color: rgb(9, 190, 0);
                    width: 2vh;
                    height: 2vh;
                }
            }
        }
    }
    }