.recipe {
  background-repeat: no-repeat;
  position: relative;
  width: 26vw;
  > img {
    position: absolute;
    margin-top: -7.5vh;
    height: 46vh;
    right: 0;
    width: 28vw;
  }
  hgroup,
  ul {
    position: relative;
  }
  hgroup {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid $color-border;
    margin-top: -1vh;
    margin-bottom: 4rem;
    margin-right: 4rem;
  }
  .list-items {
    .item {
      display: flex;
      gap: 0.2vw;
      align-items: center;
      justify-content: space-between;
      width: 94%;
      + .item {
        margin-top: 2.5rem;
      }
      &::before {
        padding: 1rem;
        border-radius: 12px;
      }
      &.food {
        @include icon(food);
        &::before {
          background: rgba($food, 0.3);
          color: $food;
        }
      }
      &.animals {
        @include icon(animals);
        &::before {
          background: rgba($animals, 0.3);
          color: $animals;
        }
      }
      &.objects {
        @include icon(objects);
        &::before {
          background: rgba($objects, 0.3);
          color: $objects;
        }
      }

      &.checked {
        color: grey;
        .item-stuff {
          text-decoration: line-through;
        }
        .item-checkbox {
          img {
            display: block;
          }
        }
      }
    }
  }

  .item-stuff {
    max-width: 85%;
  }

  .item-checkbox {
    width: 50px;
    height: 50px;
    border: 4px solid rgba(102, 102, 102, 0.2);
    border-radius: 10px;
    position: relative;
    margin-left: auto;
    aspect-ratio: 1/1;
    img {
      display: none;
      width: 59.213px;
      height: 57.222px;
      flex-shrink: 0;
      fill: #41992b;
      position: absolute;
      top: -4px;
      left: -7px;
    }
  }
}
