// TABS BUTTON
.categories-tabs {
    @include list-reset;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    gap: 2.563rem;
    z-index: 9;
    .tab-btn {
        align-items: center;
        border-radius: $btn-border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        gap: 1rem;
        padding: $btn-padding-y $btn-padding-x;
        &.btn-food {
            @include icon(food);
            background: rgba($food, 0.3);
            color: $food;
            &.selected {
                background: $food;
            }
        }
        &.btn-animals {
            @include icon(animals);
            background: rgba($animals, 0.3);
            color: $animals;
            &.selected {
                background: $animals;
            }
        }
        &.btn-objects {
            @include icon(objects);
            background: rgba($objects, 0.3);
            color: $objects;
            &.selected {
                background: $objects;
            }
        }
        &.selected {
            padding-top: $btn-selected-padding-y;
            padding-bottom: $btn-selected-padding-y;
            color: white;
        }
    }
}

// TABS PANEL
.category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 6vh;
    padding: 0 6vh 6vh;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .item{
        position: absolute;
        &-peach {
            left: 20rem;
            top: 6rem;
        }
        &-grape {
            right: 40rem;
            top: 6rem;
        }
        &-carrot {
            right: 20rem;
            top: 6rem;
        }
        &-lemon {
            left: 37rem;
            top: 6rem;
        }
        &-pineapple {
            left: 5rem;
            bottom: 15rem;
        }
        &-cake {
            left: 22rem;
            bottom: 15rem;
        }
        &-plum {
            right: 34rem;
            bottom: 15rem;
        }
        &-garlic {
            right: 50%;
            bottom: 15rem;
        }
        &-lemon2 {
            right: 8rem;
            bottom: 15rem;
        }
    }

    // TODO : ANIMATION ACTIVE
    &:not(.active) {
        opacity: 0;
        pointer-events: none;
    }
}