*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: white;
    overflow: hidden;
}

.introPopup {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;    
}
.popupContent {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popupContent button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
