*
{
    margin: 0;
    padding: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

html,
body
{
    overflow: hidden;
}

.buttons {
  z-index: 7;
  bottom: 10%;
  right: 0;
  width: 30%;
  position: absolute;
  background-color: black;
  color: white;
}

.chronology {
  z-index: 7;
  top: 40vh;
  left: 6vw;
  position: absolute;
}
.chronology-buttons {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.chronology-style img {
  z-index: 7;
  position: absolute;
  top: -8.6vh;
  left: -2.1vw;
}

.chronology-line {
  z-index: 7;
  position: absolute;
  top: -1.5vh;
  left: -2vw;
  background-color: white;
  width: 1px;
  height: 120%;
}

.chronology-small-lines {
  z-index: 8;
  position: absolute;
  top: 0vh;
  left: -2.5vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.chronology-small-line {
  background-color: white;
  margin: 0.8vh 0;
  height: 1px;
  width: 1vw;
}

.chronology-circle {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 100%;
  border: 1px solid white;
  position: absolute;
  top: 14vh;
  left: -2.8vw;
}
.chronology-buttons button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

#end-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(245, 245, 220, 1);
  z-index: 10;
}

.end-menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.end-menu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.end-menu-buttons div{
    border: 2px dashed white;
    padding: 5px;
}
.end-menu-buttons button {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid white;
  height: 50px;
  width: 150px;
  cursor: pointer;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
}

.interest-component {
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background: linear-gradient(0.25turn, #00000060, #00000060, #ebf8e100);
  color: white;
  padding: 2vh 8vw 2vh 3vw;
  border-left: 1px solid white;
}

.interest-component img {
  position: absolute;
  top: -63.5px;
  left: -0.15vw;
}

#text-component {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.audio-content {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
}

.audio {
    width: 30px;
}