.frame{
  width: fit-content;
}
.frame img {
  height: 1300px;
  width: 900px;
}

.selected-painting{
  width: 1189.128px;
  height: 1471px;
}

.left > .selected-painting{
  margin-right: 100px;
  width: 1063.187px;
  height: 1315.205px;
}
