@import url(/global/style.css);

html,
body {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}

:root {
  --accent: #242424 !important;
}

#app {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 58%,
    rgba(236, 236, 236, 1) 84%,
    rgba(177, 177, 177, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 999;
  transition: opacity 0.3s ease;
}
#loader.hidden {
  pointer-events: none;
  opacity: 0;
}
#loader__spinner {
  --border-width: 10px;
  --size: 8rem;
  border: var(--border-width) solid #f3f3f3;
  border-top: var(--border-width) solid var(--accent);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  animation: spin 1s linear infinite;
  margin-bottom: 3rem;
}
#loaded__musbaLogo {
  height: 12rem;
}

#selectExperienceInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  top: 5rem;
}
#selectExperienceInfo > h3 {
  text-transform: uppercase;
}
#selectExperienceInfo > svg {
  width: 100px;
  height: 100px;
}

#xpDetails {
  display: flex;
  width: 1150px;
  position: absolute;
  left: 330px !important;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
  gap: 5rem;
}
#xpDetails.hidden {
  display: none;
}
#xpDetails__title {
  font-size: 110px;
  line-height: 150%;
}
#xpDetails__description {
  line-height: 200%;
}
#xpDetails > div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: all;
}
#xpDetails__backBtn {
  position: relative;
  height: 10rem;
  width: 10rem;
}

#xpIntro {
  position: absolute;
  bottom: 5rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
#xpIntro.hidden {
  display: none;
}
#xpIntro__title {
  font-size: 110px;
  line-height: 150%;
}
#xpIntro__showBtn {
  transition: opacity 0.3s ease;
}
#xpIntro__showBtn.hidden {
  opacity: 0;
}

#webgl {
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  pointer-events: all;
  width: 100%;
}

#helpOpenBtn {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  pointer-events: all;
  z-index: 4;
}
#helpDialog {
  height: min-content;
  width: 70rem;
  margin: auto 5rem 5rem auto;
  background: none;
  border: none;
}
#helpDialog__inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
  background: white;
  pointer-events: all;
  border-radius: 21px;
  border: 3px solid #242424;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#helpCloseBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
