.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 6rem;
}

.wrapper footer, .wrapper header{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.container{
  height: 100%;
}

.row{
  display: flex;
  flex-direction: row;
}

.container.row .left,
.container.row .center,
.container.row .right {
  flex: 1;
}
