/* Layout of section */

section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}


section .left {
  padding: 2rem 4rem;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hSeparator {
  width: 100%;
  height: 0.8rem;
  background-color: white;
  margin: 2rem 0;
}

.paintingText {
  display: flex;
  gap: 3rem;
}
