/* Layout of section */

section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#section-0{
  justify-content: center;
}

section.painting-frame .container > *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.painting-frame .container > .left{
  padding-top: 0;
}

/*section .left {*/
/*  display: grid;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*  height: 100%;*/
/*}*/
