// UTILS
@import "abstracts/variables";
@import "abstracts/mixins";

// BASE
@import "base/reset";
@import "base/typography";

// COMPONENTS
@import "components/tabs";
@import "components/chef-dialogs";
@import "components/dialogs";

// PAGES
@import "pages/home";
@import "pages/game";

// BROUILLON PABÔ :

ul {
  list-style: none;
}

.game-top {
  height: 60vh;
  min-width: 100%;
  background-color: blueviolet;
  display: flex;

  .utensils {
    display: block;

    img {
      width: 8vw;
      height: 15vh;
    }
  }
}

.game-bottom {
  height: 40vh;
  min-width: 100%;
  background-color: red;
  display: flex;
}

.category-items {
  .item {
    position: absolute;
    top: 10vh;
    left: 0;
  }
}

.composition {
  .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vh;

    display: none;

    img {
      width: 100%;
    }
  }
}

* {
  font-size: 70px;
}
