* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, span{
  font-size: 5rem;
}

html,
body {
  overflow: hidden;
  height: 100%;
  position: relative;
}
#button {
  font-size: 6rem;
  padding: 3rem 2rem;
  background-color: rgb(241, 241, 241);
  border: 1px solid black;
  border-radius: 110px;
}

.canvas__container{
  position: relative;
  height: fit-content;
}

.canvas__img{
  width: 2000px;
  height: 2500px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid red;
}

/* debug page */
.square {
  height: 320px;
  width: 320px;
  background-color: #aaaaaa;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  display: grid;
  place-items: center;
}

.cliker-count {
  top: 1000px;
  left: 400px;
}

.pressingZoneTitle {
  position: absolute;
  right: 1600px;
  bottom: 1050px;
  font-size: 3rem;
}
.pressingZone {
  width: 1600px;
  height: 900px;
  position: absolute;
  right: 100px;
  bottom: 100px;
  border: 1px solid black;
}

/* end debug page*/

/* section 1 */
.section-1 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sec1-painting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  aspect-ratio: 2/3;
  background-color: #aaaaaa;
}

.sec1-dragable {
  position: absolute;
  background-color: #c3c3c3;
  width: 400px;
  height: 500px;
}

#one {
  left: 1330px;
  top: 300px;
}

#two {
  left: 2160px;
  top: 500px;
}
#three {
  left: 1418px;
  top: 917px;
}
#four {
  left: 1980px;
  top: 1290px;
}
