@import '../utils/variables.css';

.info{
    background-color: black;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-left: solid var(--white) 5px;

}

.info > p{
    text-align: start;
}
