@import url(/global/fonts.css);
@import url(/global/icons.css);

:root {
  --black: #242424;
  --white: #ffffff;
  --gray: #a8a8a8;
  --accent: rgb(40, 119, 164);

  --stroke-width: 5px;
}

h1 {
  font-family: musba;
  font-weight: 400;
  font-size: clamp(2.5rem, 0.625rem + 6vw, 4rem);
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: clamp(1.5rem, 0.875rem + 2vw, 2rem);
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: clamp(1.1rem, 0.6rem + 1.6vw, 1.5rem);
}

* {
  font-family: Montserrat;
  font-weight: 400;
  font-size: clamp(1rem, 0.875rem + 0.4vw, 1.1rem);
}

main {
  margin: 12rem auto;
  max-width: 40rem;
  padding: 0 0.5rem;
}
section {
  margin-top: 4rem;
}
iframe {
  border-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
}

/* Buttons colors */
.btn-primary {
  text-decoration: none;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-family: Montserrat;
  font-weight: 600;
  border: var(--stroke-width) solid var(--accent);
  background-color: var(--accent);
  color: var(--white);
  padding: 0.5rem 1.2rem;
}
