@import "../../utils/variables.css";

.info {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: solid var(--white) 5px;
  position: relative;
}

.info > p {
  text-align: start;
}

.infosContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  gap: 20px;
  padding-bottom: 90px;
}

.per-10, .per-20, .per-40, .per-60, .per-70, .per-85{
  opacity: 0;
}
